*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black ;
}

header {
    height: 50px;
}

div {
    background-color: black;
    margin-left: 0px;
    margin-right: 0px;
}

.menu {
    background-color: black;
}

footer { 
    height: 50px;
}
